<%for(var i=0;i<admin.length;i++){%>
    <tr>
        <td><%=i+1%></td>
        <td><%=admin[i].email%></td>
        <td><%=[i].password%></td>
        <td><%=admin[i].status%></td>
        <td><%=admin[i].adresse%></td>
        <td>
             <a class="btn border-shadow create">
                <span class="text-gardent"> <i class="fas fa-pencil-alt"></i></span>
                </a>
        </td>
        
    </tr>